.container{
    flex-wrap: wrap;
    margin: 0px 20px;
    margin-top: 20px;
}
.footer{
    position: '-webkit-sticky';
    position: sticky;
    position: fixed;
    bottom:20px;
    margin-left:300px;


}
#outlined-basic{
    text-align: center;
}
.swal-input{
    direction: rtl;
}
 
