
.nav{
    width: 100% ;
    height: 50px;
    background-color: rgba(192, 214, 243, 0.466);
    text-align: 'center';
}

.nav-Logo{
    float: left;
    position:center;
    width:50px;
    
    
}

.nav-Profile{
    float: left;
    margin: 3px 0;
    padding: 0;
}
.nav-title{
    display: inline-flex;
    margin: 10px;
    font-size: x-large;
    font-family: 'Heebo', sans-serif;
    
}
.nav-not{
    float: right;
    margin: 3px 0;
    padding: 0;

}   
.nav-goBack{
    float: right;
    margin: 3px 0;
    padding: 0;

}

.ring{
    transform-origin: 50% 1rem;
    animation-name: ring;
    animation-duration: 2s;
     /* animation-iteration-count: infinite;  */
} 

@keyframes ring
  {
    0% { transform: rotate(0deg) }
    5% { transform: rotate(45deg) }
    15% { transform: rotate(-40deg) }
    25% { transform: rotate(20deg) }
    35% { transform: rotate(-15deg) }
    45% { transform: rotate(10deg) }
    55% { transform: rotate(-5deg) }
    60% { transform: rotate(0deg) }
    100% { transform: rotate(0deg) }
  }

  

  
  