@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
/* 
        ↑↑↑↑ fontFamily: 'Amatic SC', ↑↑↑↑
*/

#productCart-list {
    margin-top: 5vh;
    margin-bottom: 0vh;
    text-align: right;
    width: 100vw;
    height: 65vh;
    box-shadow: 0 0 20px 0px black;
}

#productCart-list>.SwipeableList_swipeableList__1FACG .SwipeableListItem_content__3wbMa {
    /* override the original API */
    background: #ffffff00;
    background: #f3f3bb;
}

#productCart-list> .SwipeableList_swipeableList__1FACG {
    background: #f3f3bb;
}

.swipeLeft-divs, .swipeRight-divs {
    width: 100vw;
    font-weight: bold;
    /* 
    line-height:
    usually used for each line hight when have lots of text in an element
    BUT
    when have single row it can be used for BOTH
    1. centerized the text VERTICALY. 
    2. define the element height.

    (This only works for one line of text !!!).
     ↓ */
    line-height: 8vh;
}

.swipeLeft-divs {
    /*from right2left*/
    background: green;
    text-align: right;
}

.swipeRight-divs {
    /*from left2right*/
    background: red;
    text-align: left;
}

#buttons-container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.list-item {
    /* text-align: right; */
    height: 8vh;
    border-bottom: 2px solid #ff8c0038;
    width: 100vw;
    padding-right: 3vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
}

.product_description {
    font-size: 3vh;
    font-family: 'Rubik', sans-serif;
    flex: 1;
}

#OVerRide_MuiSvgIcon-root {
    height: 3em;
}