#productCart-headline {
    text-align: center;
    color: blue;
    text-decoration: underline;
    margin-top: 1vh;
}

#productCart-list {
    margin-top: 5vh;
    text-align: right;
    width: 100vw;
    height: 55vh;
    box-shadow: 0 0 20px 0px black;
}

.swipeLeft-divs, .swipeRight-divs {
    width: 100vw;
    height: 8vh;
    font-weight: bold;
    padding-top: 3vh;
}

.swipeLeft-divs {
    background: red;
    text-align: right;
}

.swipeRight-divs {
    background: green;
    text-align: left;
}

#buttons-container {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.list-item {
    margin-right: 5vw;
    font-size: large;
    font-family: cursive;
}

/*

#taken-list, #untaken-list {
    float: right;
    margin-top: 2vh;
    height: 30vh;
    width: 45vw;
    font-size: small;
    border: 3px solid black;
}

#untaken-list {
    margin-right: 5vw;
}

h5 {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

#finishBtn {
    text-align: center;
    margin-top: 37vh;
} */