.App {
  text-align: center;
  direction:rtl;
  

}
body{
 font-family: 'Rubik', sans-serif;
 background-image:  url('./Images/Logo.png') ;
 background-size: 50vh;
 background-repeat: no-repeat;
 background-position: bottom;
 background-attachment: fixed; 
 opacity: 0.95;
}

